{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link href="https://cdn.jsdelivr.net/npm/@momentum-ui/core@19.15.31/css/momentum-ui.min.css" rel="stylesheet">#}
{#    <link href="https://cdn.jsdelivr.net/npm/@momentum-ui/icons@8.33.0/css/momentum-ui-icons.css" rel="stylesheet">#}
{#    <link href="{% static "magnetic.css" %}" rel="stylesheet">#}
{#    <link href="{% static "ps_styles.css" %}" rel="stylesheet">#}
{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#    <script src="https://unpkg.com/phosphor-icons"></script>#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Cisco Lab Tools</title>
    <style>
        .btn-toggle {
            display: inline-flex;
            color: rgba(255, 255, 255, .65);
            background-color: transparent;
        }

        .btn-toggle::after {
            width: 1.25em;
            line-height: 0;
            content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
            transition: transform .35s ease;
            transform-origin: .5em 50%;
        }

        .btn-toggle[aria-expanded="true"] {
            color: rgba(255, 255, 255, .85);
        }
        .btn-toggle[aria-expanded="true"]::after {
            transform: rotate(90deg);
        }

        a {
          text-decoration: none !important;
        }

        @media only screen and (min-width: 64.0625em) {
            .md-top-bar {
                grid-area: topbar;
                padding: 0 32px;
            }
        }

        .docs-content-area {
            grid-area: main;
            border-top: 1px solid rgba(0, 0, 0, 0.08); }
            @media only screen and (min-width: 64.0625em) {
            .docs-content-area--with-pagenav {
                display: grid;
                grid-template-columns: minmax(0, 1fr) 300px;
                grid-template-rows: auto;
                grid-template-areas: 'pagecolumn pagenav';
            }
        }
        @media only screen and (min-width: 64.0625em) {
            .docs-main {
                display: grid;
                grid-template-columns: 240px minmax(0, 1fr);
                grid-template-rows: 80px auto 48px 1fr auto;
                grid-template-areas: 'topbar topbar' '. page-header' '. tabs' 'sidebar main' 'sidebar page-footer';
                min-height: 100%;
            }
        }

        @media only screen and (min-width: 64.0625em) {
            .docs-main--home {
                grid-template-columns: 100%;
                grid-template-rows: 80px 1fr auto;
                grid-template-areas: 'topbar' 'home' 'page-footer';
            }
        }

        .docs-main--home .docs-side-nav {
            display: none;
        }

        .docs-content__column {
            grid-area: pagecolumn;
            padding: 3rem 2rem;
        }

        .docs-content__nav {
            grid-area: pagenav;
        }
    </style>
    <script>
        function clearinput(inputid) {
            let src = document.getElementById(inputid);
            src.value = "";
        }

        function checkAll(classname, allCheckId) {
            let chks = document.getElementsByClassName(classname);
            let src = document.getElementById(allCheckId);
            Array.prototype.forEach.call(chks, function(el) {
                el.checked = src.checked;
                checkOpt(el.id);
            });
        }

        function checkOpt(checkid) {
            let chk = document.getElementById(checkid);
            let add = document.getElementById('addlist');
            let sub = document.getElementById('sublist');
            let btm = document.getElementById('bottom_save');
            let cnr = document.getElementById('corner_save');

            if (chk.checked) {
                if (chk.classList.contains("startchecked")) {
                    // remove from sub list
                    let re = new RegExp(";" + checkid + ";", 'g');
                    sub.value = sub.value.replace(re, "")
                } else if (chk.classList.contains("startunchecked")) {
                    // add to addlist
                    add.value += ";" + checkid + ";"
                }
            } else {
                if (chk.classList.contains("startchecked")) {
                    // add to sub list
                    sub.value += ";" + checkid + ";"
                } else if (chk.classList.contains("startunchecked")) {
                    // remove from addlist
                    let re = new RegExp(";" + checkid + ";", 'g');
                    add.value = add.value.replace(re, "")
                }
            }

            {#console.log(add.value);#}
            {#console.log(sub.value);#}

            if ((add.value === "") && (sub.value === "")) {
                btm.style.display = "none";
                cnr.style.display = "none";
            } else {
                btm.style.display = "inline";
                cnr.style.display = "inline";
            }
        }

        function toggleList(btnname, dropdownname, listname) {
            let src = document.getElementById(btnname);

            let rect = src.getBoundingClientRect();

            let position = {
                top: rect.top + window.pageYOffset,
                left: rect.left + window.pageXOffset
            };
            let sc = document.documentElement.scrollTop;

            if (document.getElementById(dropdownname).style.display === "none") {
                document.getElementById(listname).style.left = position.left.toString() + "px";
                document.getElementById(listname).style.top = (position.top + src.offsetHeight + 5 - sc).toString() + "px";
                document.getElementById(listname).style.width = src.offsetWidth.toString() + "px";
                document.getElementById(dropdownname).style.display = "inline";
            } else {
                document.getElementById(dropdownname).style.display = "none";
            }
        }

        function getdata(url, selectedval, outtype, tokenid, outputcontid, outputid, outputlabel, hiddenid, hiddenname, enablebtn) {
            document.getElementById('preloader').style = "display:inline-block;position:absolute;top:50%;left:50%;background-color:rgba(0, 0, 0, 0);z-index:6000000;overflow:auto;width:400px;height:400px;margin-left:-100px;margin-top:-100px;";
            let method = "GET";
            let async = true;
            let request = new XMLHttpRequest();
            let apikey = "";
            if (tokenid !== null) {
                apikey = document.getElementById(tokenid).value;
            }
            request.onload = function () {
                if (request.readyState === 4) {
                    if (request.status === 200) {
                        let data = request.response;
                        let outcont = document.getElementById(outputcontid);
                        let outdata = document.getElementById(outputid);
                        if (data.length > 0) {
                            {#out.style = "display:inline;";#}
                            {#out.innerHTML = "<font color='red'>Error Issuing Request</font>";#}
                            let out_data = "";
                            for (let elm in data) {
                                if (outtype === 1) {
                                    out_data += '<div aria-current="true" class="md-list-item" id="md-list-73__so-item" role="option" value="' + data[elm].id + '" tabindex="0" title="' + data[elm].name + '">';
                                    out_data += '  <div class="md-list-item__center" onclick="listclick(\'' + data[elm].id + '\', \'' + data[elm].name + '\', \'' + outputlabel + '\', \'' + hiddenid + '\', \'' + hiddenname + '\', \'' + enablebtn + '\')")>' + data[elm].name + '</div>';
                                    out_data += '  <div class="md-list-item__right"></div>';
                                    out_data += '</div>';
                                    if (selectedval) {
                                        if (selectedval === data[elm].id) {
                                            let selectedname = data[elm].name;
                                            listclick(selectedval, selectedname, outputlabel, hiddenid, hiddenname, enablebtn);
                                        }
                                    }
                                } else {
                                    out_data = data[elm];
                                }
                            }
                            if (outtype === 1) {
                                {#outcont.style = "display:inline;";#}
                                outdata.innerHTML = out_data;
                                outdata.modal('show');
                            }
                            document.getElementById('preloader').style = "display: none;";
                        } else if (outtype === 2) {
                            {#outcont.style = "display:inline;";#}
                            outdata.innerHTML = data.data;
                            {#console.log(outcont, outputcontid);#}
                            $("#" + outputcontid).modal('show');
                            document.getElementById('preloader').style = "display: none;";
                        } else {
                            {#outcont.style = "display:inline;";#}
                            {#outdata.innerHTML = "<font color='red'>No Results Returned</font>";#}
                            document.getElementById('preloader').style = "display: none;";
                        }
                    }
                }
            };
            try {
                request.open(method, url, async);
                request.setRequestHeader("X-Cisco-Meraki-API-Key", apikey);
                request.setRequestHeader("Authorization", "Bearer " + apikey);
                request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                request.responseType = 'json';
                request.send();
            }
            catch(err) {
                console.log("500 Caught.");
            }
        }

        function postdata(url, selectedval, outtype, datavalid, outputcontid, outputid, outputlabel, hiddenid, hiddenname, enablebtn) {
            document.getElementById('preloader').style = "display:inline-block;position:absolute;top:50%;left:50%;background-color:rgba(0, 0, 0, 0);z-index:6000000;overflow:auto;width:400px;height:400px;margin-left:-100px;margin-top:-100px;";
            let method = "POST";
            let async = true;
            let request = new XMLHttpRequest();
            let postdata = "";
            if (datavalid !== null) {
                postdata = document.getElementById(datavalid).value;
            }
            request.onload = function () {
                if (request.readyState === 4) {
                    if (request.status === 200) {
                        let data = request.response;
                        let outcont = document.getElementById(outputcontid);
                        let outdata = document.getElementById(outputid);
                        {#out.style = "display:inline;";#}
                        {#out.innerHTML = "<font color='red'>Error Issuing Request</font>";#}
                        let out_data = "";
                        if (outtype === 2) {
                            let olbl = document.getElementById(outputlabel);
                            olbl.innerHTML = JSON.stringify(data);
                            document.getElementById('preloader').style = "display: none;";
                            let event = new Event('change');
                            olbl.dispatchEvent(event);
                        } else if ((outtype === 1) && (data.length > 0)) {
                            if (outtype === 1) {
                                out_data += '<option value="-1">N/A</option>';

                                {#out_data += '<div aria-current="true" class="md-list-item" id="md-list-73__so-item" role="option" value="-1" tabindex="0" title="N/A">';#}
                                {#out_data += '  <div class="md-list-item__center" onclick="listclick(\'-1\', \'N/A\', \'' + outputlabel + '\', \'' + hiddenid + '\', \'' + hiddenname + '\', \'' + enablebtn + '\')")>N/A</div>';#}
                                {#out_data += '  <div class="md-list-item__right"></div>';#}
                                {#out_data += '</div>';#}
                            }
                            for (let elm in data) {
                                if (outtype === 1) {
                                    if ((selectedval) && (selectedval.toString() === data[elm].id.toString())) {
                                        out_data += '<option selected value="' + data[elm].id + '">' + data[elm].name + '</option>';
                                    } else {
                                        out_data += '<option value="' + data[elm].id + '">' + data[elm].name + '</option>';
                                    }

                                    {#out_data += '<div aria-current="true" class="md-list-item" id="md-list-73__so-item" role="option" value="' + data[elm].id + '" tabindex="0" title="' + data[elm].name + '">';#}
                                    {#out_data += '  <div class="md-list-item__center" onclick="listclick(\'' + data[elm].id + '\', \'' + data[elm].name + '\', \'' + outputlabel + '\', \'' + hiddenid + '\', \'' + hiddenname + '\', \'' + enablebtn + '\')")>' + data[elm].name + '</div>';#}
                                    {#out_data += '  <div class="md-list-item__right"></div>';#}
                                    {#out_data += '</div>';#}
                                    {#if (selectedval) {#}
                                    {#    if (selectedval.toString() === data[elm].id.toString()) {#}
                                    {#        let selectedname = data[elm].name;#}
                                    {#        listclick(selectedval, selectedname, outputlabel, hiddenid, hiddenname, enablebtn);#}
                                    {#    }#}
                                    {# }#}
                                } else {
                                    out_data = data[elm];
                                }
                            }
                            outcont.style = "display:inline;";
                            outdata.innerHTML = out_data;
                        }
                        document.getElementById('preloader').style = "display: none;";
                    } else {
                        console.log("500 Error.");
                        document.getElementById('preloader').style = "display: none;";
                    }
                }
            };
            try {
                request.open(method, url, async);
                request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                request.responseType = 'json';
                request.send(postdata);
            }
            catch(err) {
                console.log("500 Caught.");
            }
        }

        function listclick(elemid, elemname, divsel, divid, divname, enablebtn) {
            {#console.log("listclick");#}
            document.getElementById(divsel).innerHTML = elemname + '\n<i class="ignore icon icon-arrow-down_16"></i>';
            document.getElementById(divid).value = elemid;
            document.getElementById(divname).value = elemname;
            let ena = document.getElementById(enablebtn);
            if (ena) {
                ena.classList.remove("md-button--disabled");
                ena.classList.add("md-button--blue");
            }
            {#console.log("listclick: done");#}
            {#document.getElementById(divid).onchange();#}
        }

        function toggleMenu(menuid) {
            // partial code to change arrow direction when menu opens
            {#let all = document.getElementsByTagName("*");#}
            {#for (let i=0, max=all.length; i < max; i++) {#}
                {#console.log(all[i].id);#}
            {#    if (all[i].id) {#}
            {#        if (all[i].id.search("md-sidebar__nav") >= 0) {#}
            {#            console.log(all[i].id);#}
            {#        }#}
            {#    }#}
            {# }#}

            if (document.getElementById(menuid).classList.contains("md-sidebar-nav__group--collapsed")) {
                document.getElementById(menuid).classList.remove("md-sidebar-nav__group--collapsed");
                document.getElementById(menuid).classList.add("md-sidebar-nav__group--expanded");
            } else {
                document.getElementById(menuid).classList.remove("md-sidebar-nav__group--expanded");
                document.getElementById(menuid).classList.add("md-sidebar-nav__group--collapsed");
            }
        }

        function toggleUser(iconid, usermenuid, usercontainerid, usercontentid) {
            let src = document.getElementById(iconid);

            let rect = src.getBoundingClientRect();

            let position = {
                top: rect.top + window.pageYOffset,
                left: rect.left + window.pageXOffset
            };
            let sc = document.documentElement.scrollTop;

            let x = document.getElementById(usermenuid);
            if (window.getComputedStyle(x).display === "none") {
                document.getElementById(usermenuid).style = "display: inline;";
                let contentwidth = document.getElementById(usercontainerid).offsetWidth;
                let imgwidth = document.getElementById(iconid).offsetWidth;
                document.getElementById(usercontainerid).style = "overflow: auto; top: " + (position.top + sc + 15).toString() + "px; left: " + (position.left - contentwidth + imgwidth).toString() + "px;";
            } else {
                document.getElementById(usermenuid).style = "display: none;";
            }
        }

        function startResync() {
            getdata("/resync", null, null, null, null, null, null, null, null, null);
        }

        function doDelete(obj, objid) {
            getdata("/del/" + obj + "/" + objid, null, null, null, null, null, null, null, null, null);
        }
    </script>
</head>

<body class="d-flex flex-column overflow-hidden vh-100">
    <div id="preloader" style="display: none;"><img src="https://apps.cisco.com/Commerce/staticContent/ngws_Q3FY20_V2/images/preloader.gif" /></div>
    <nav class="navbar navbar-expand-md bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="#">
                <img src="{% static 'cisco-logo-transparent.png' %}" alt="Logo" width="48" height="24" class="d-inline-block align-text-top">
                <span class="fs-4" style="margin-left: 10px">Lab Tools</span>
            </a>

            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i id="userIcon" class="ph ph-user" style="margin-right: 10px; font-size: 24px"></i>
                    <strong>{{ user.get_username }}</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdown-menu-end" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/settings">Settings</a></li>
                    {% if plugin_id %}
                    <li><a class="dropdown-item" href="#">Package ID: {{ plugin_id }}</a></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-2 bg-dark text-white">
                <div class="flex-shrink-0 p-3 bg-dark text-white" style="width: 280px;">
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i id="userIcon" class="ph ph-user" style="margin-right: 10px; font-size: 24px"></i>
                            <strong>{{ tenant.name }}</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdown-menu-end" aria-labelledby="dropdownUser1">
                            {% for tenant in global.tenants %}
                            <li><a class="dropdown-item" href="{{ baseurl }}?tenant={{ tenant.id }}">{{ tenant.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="border-top my-3"></li>
                        <li class="nav-item">
                            <a href="/home" class="text-decoration-none text-white nav-link{% if menuopen == "home" %} active{% endif %}" aria-current="page">
                                <i class="ph ph-house" style="font-size: 20px"></i>
                                Home
                            </a>
                        </li>
                        <li class="mb-1">
                            <button class="nav-link btn btn-toggle align-items-center rounded {% if ddopen != "status" %}collapsed{% endif %} text-white" data-bs-toggle="collapse" data-bs-target="#status-collapse" aria-expanded="{% if ddopen == "status" %}true{% else %}false{% endif %}">
                                <i class="ph ph-rocket" style="font-size: 20px"></i>
                                &nbsp;Status&nbsp;
                            </button>
                            <div class="collapse{% if ddopen == "status" %} show{% endif %}" id="status-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                    <li class="nav-item">
                                        <a href="/home/status-task" class="text-decoration-none text-white nav-link{% if menuopen == "task-results" %} active{% endif %}" aria-current="page">
                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#status"/></svg>
                                            Task Results
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/home/tunnel" class="text-decoration-none text-white nav-link{% if menuopen == "tunnel" %} active{% endif %}" aria-current="page">
                                <i class="ph ph-pipe" style="font-size: 20px"></i>
                                Tunnel
                            </a>
                        </li>
                        <li class="mb-1">
                            <button class="nav-link btn btn-toggle align-items-center rounded {% if ddopen != "connect" %}collapsed{% endif %} text-white" data-bs-toggle="collapse" data-bs-target="#connect-collapse" aria-expanded="{% if ddopen == "connect" %}true{% else %}false{% endif %}">
                                <i class="ph ph-path" style="font-size: 20px"></i>
                                &nbsp;Connect&nbsp;
                            </button>
                            <div class="collapse{% if ddopen == "connect" %} show{% endif %}" id="connect-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                    {% for connection in global.connections %}
                                    <li class="nav-item">
                                        <a href="/home/config-conn/{{ connection.name }}" class="text-decoration-none text-white nav-link{% if menuopen == connection.plugin_id %} active{% endif %}" aria-current="page">
                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#connection"/></svg>
                                            {{ connection.description }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/home/integrate" class="text-decoration-none text-white nav-link{% if menuopen == "integrate" %} active{% endif %}" aria-current="page">
                                <i class="ph ph-puzzle-piece" style="font-size: 20px"></i>
                                Integrate
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home/config-package" class="text-decoration-none text-white nav-link{% if menuopen == "packages" %} active{% endif %}" aria-current="page">
                                <i class="ph ph-upload" style="font-size: 20px"></i>
                                Packages
                            </a>
                        </li>
                        <li class="mb-1">
                            <button class="nav-link btn btn-toggle align-items-center rounded {% if ddopen != "settings" %}collapsed{% endif %} text-white" data-bs-toggle="collapse" data-bs-target="#settings-collapse" aria-expanded="{% if ddopen == "settings" %}true{% else %}false{% endif %}">
                                <i class="ph ph-gear" style="font-size: 20px"></i>
                                &nbsp;Settings&nbsp;
                            </button>
                            <div class="collapse{% if ddopen == "settings" %} show{% endif %}" id="settings-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                    <li class="nav-item">
                                        <a href="/home/settings-sites" class="text-decoration-none text-white nav-link{% if menuopen == "settings-sites" %} active{% endif %}" aria-current="page">
                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#settings"/></svg>
                                            Configure Sites
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/home/devices" class="text-decoration-none text-white nav-link{% if menuopen == "devices" %} active{% endif %}" aria-current="page">
                                <i class="ph ph-devices" style="font-size: 20px"></i>
                                Devices
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/home/ipam-subnet" class="text-decoration-none text-white nav-link{% if menuopen == "ipam" %} active{% endif %}" aria-current="page">
                                <i class="ph ph-article" style="font-size: 20px"></i>
                                IPAM
                            </a>
                        </li>


                        {% if global.menus|length > 0 %}
                            {% for menu in global.menus %}
                                <li class="mb-1">
                                    <button class="nav-link btn btn-toggle align-items-center rounded {% if ddopen != menu.name %}collapsed{% endif %} text-white" data-bs-toggle="collapse" data-bs-target="#custom-{{ menu.name }}-collapse" aria-expanded="{% if ddopen == menu.name %}true{% else %}false{% endif %}">
                                        <i class="ph {{ menu.icon }}" style="font-size: 20px"></i>
                                        {{ menu.name }}
                                    </button>
                                    <div class="collapse{% if ddopen == "settings" %} show{% endif %}" id="custom-{{ menu.name }}-collapse">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                            {% for submenu in menu.customtemplate_set.all %}
                                                {% if submenu.pluginmodule %}
                                                    <li class="nav-item">
                                                        <a href="/module/plugin/{{ submenu.pluginmodule.id }}" class="text-decoration-none text-white nav-link{% if menuopen == submenu.name %} active{% endif %}" aria-current="page">
                                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#settings"/></svg>
                                                            {{ submenu.name }}
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="nav-item">
                                                        <a href="/module/integration/{{ submenu.pluginmodule.id }}" class="text-decoration-none text-white nav-link{% if menuopen == submenu.name %} active{% endif %}" aria-current="page">
                                                            <svg class="bi me-2" width="16" height="16"><use xlink:href="#settings"/></svg>
                                                            {{ submenu.name }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col overflow-auto h-100 py-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {{ crumbs|safe }}
                    </ol>
                </nav>


    {#            <div class="md-page-header md-page-header--left"><div class="md-page-header__container "><div class="md-page-header__title">Components</div><h4 class="md-page-header__lead">Our basic building blocks for designing user interfaces. We provide usage guidelines and code snippets for each component.</h4></div><div style="position: fixed; display: none; z-index: 1200; top: 0px;" class="md-page-header__container "><div class="md-page-header__title">Components</div><h4 class="md-page-header__lead">Our basic building blocks for designing user interfaces. We provide usage guidelines and code snippets for each component.</h4></div></div>#}
                <div class="docs-content-area">
                    <div class="docs-content-area docs-content-area">
                        <div class="docs-content__column row">
                            <div class="docs-section" id="default">
                                {% block content %}
                                {% endblock %}
                            </div>
                        </div>
                        <div class="docs-content__nav">
                            <div class="md-page-links__container" style="top: 400px;"></div>
                        </div>
                    </div>
                    <div class="md-panel__footer">
                        <div class="footer__logo">
    {#                        <i class="icon icon-cisco-logo-16"></i>#}
    {#                            <img src="https://video.cisco.com/img/cisco.png" alt="Cisco" style="width:50px">#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <div class="md-panel__footer">#}
{#        <div class="footer__logo">#}
{#            <i class="icon icon-cisco-logo"></i>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row">&nbsp;</div>#}

        <script>
            let observer = new IntersectionObserver(function(entries) {
                // isIntersecting is true when element and viewport are overlapping
                // isIntersecting is false when element and viewport don't overlap
                let chg = document.getElementById('changes');
                let cnr = document.getElementById('corner_save');
                if(entries[0].isIntersecting === true) {
                    console.log('Element has just become visible in screen');
                    cnr.style.display = "none";
                } else {
                    console.log('Element has just left screen');
                    if (chg.value !== "") {
                        cnr.style.display = "inline";
                    }
                }
            }, { threshold: [0] });

            let bs = document.querySelector("#bottom_save");
            if (bs) {
                observer.observe(bs);
            }

            document.body.addEventListener("click", function (evt) {
                if (evt.target) {
                    if (evt.target.className.split(' ').indexOf("ignore") >= 0) {
                        // Don't close the menu if someone is trying to click on it
                    } else {
                        // If you click on something other than a menu, close all menus
                        let all = document.getElementsByTagName("*");
                        for (let i=0, max=all.length; i < max; i++) {
                            if (all[i].id) {
                                if (all[i].id.search("dropdown") >= 0) {
                                    {#console.log(all[i].id);#}
                                    {#console.log(evt.target.id);#}
                                    all[i].style.display = "none";
                                }
                            }
                        }
                    }
                }
            });
        </script>
    </body>
</html>