{% extends 'home/base.html' %}
{% load extras %}

{% block content %}
    <h4 class="md-h4--bold md-font-color--alternate docs-section__title">Location Hierarchy</h4>

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <div class="row" style="padding: 0">
        <div class="md-data-table__wrapper" style="padding:0rem 0rem;">
            <table id="myTable" class="table table-striped table-bordered" style="width: 100%;" aria-describedby="example_info">
                <thead>
                    <tr>
                        <th class="sorting hidden" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="ID: activate to sort column descending">ID</th>
                        <th class="sorting hidden" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Visible: activate to sort column descending">Visible</th>
                        <th class="sorting hidden" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending" aria-label="Sort Order: activate to sort column descending">Order</th>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 121px;" aria-sort="ascending" aria-label="Description: activate to sort column descending">Description</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 34px;" aria-label="Address: activate to sort column ascending">Address</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 34px;" aria-label="Location Code: activate to sort column ascending">Location Code</th>
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 34px;" aria-label="Actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


        <script>
            function loadModalNew(modaltitle, itemid, itemname, itemaddr) {
                document.getElementById("editmodaltitle").innerText = modaltitle;
                document.getElementById("siteId").value = itemid;
                document.getElementById("siteDesc").value = itemname;
                document.getElementById("siteAddr").value = itemaddr;
                {#document.getElementById("merOrg").value = itemorgid;#}
                document.getElementById("editmodal").style = "display:inline;";
            }

            function loadModal(itemid, itemname, itemaddr) {
                document.getElementById("siteId").value = itemid;
                document.getElementById("siteDesc").value = itemname;
                document.getElementById("siteAddr").value = itemaddr;
                {#document.getElementById("merOrg").value = itemorgid;#}
                document.getElementById("editmodal").style = "display:inline;";
            }

            function setCheck(elid) {
                document.getElementById(elid).checked = true;
            }

            function oldloadCLLIModal(itemid, dist) {
                let jdist = JSON.parse(atob(dist));
                document.getElementById("clli_cityId").value = itemid;
                let clli_cont = document.getElementById("clli_container");
                clli_cont.innerHTML = "";
                for(let x=0; x<10; x++) {
                    clli_cont.innerHTML += `
                    <div onclick="setCheck('` + jdist[x].clli.id + `');" class="md-input-container md-radio">
                      <input type="radio" class="md-input md-radio__input" id="` + jdist[x].clli.id + `" name="selectedclli" value="` + jdist[x].clli.id + `">
                      <label class="md-radio__label" for="selectedclli">
                        <span>` + jdist[x].clli.clli + ` (` + jdist[x].clli.city + `, ` + jdist[x].clli.state + `)</span>
                      </label>
                    </div>`;
                }
                {#jdist.forEach(element => {#}
                {#    clli_cont.innerHTML += `#}
                {#    <div class="md-input-container md-radio">#}
                {#      <input type="radio" class="md-input md-radio__input" id="basicRadio1" name="basicRadio" checked>#}
                {#      <label class="md-radio__label" for="basicRadio1">#}
                {#        <span>Basic Radio 1</span>#}
                {#      </label>#}
                {#    </div>`;#}
                {# });#}
                {#document.getElementById("siteDesc").value = itemname;#}
                {#document.getElementById("siteAddr").value = itemaddr;#}
                {#document.getElementById("merOrg").value = itemorgid;#}
                document.getElementById("cllimodal").style = "display:inline;";
            }

            function loadSimpleModal(modaltitle, parentid, objid, itemtype, itemname, extrafld1, extraval1) {
                document.getElementById("simpleeditmodaltitle").innerText = modaltitle;
                document.getElementById("s_parentId").value = parentid;
                document.getElementById("s_objId").value = objid;
                document.getElementById("s_objType").value = itemtype;
                document.getElementById("s_objDesc").value = itemname;
                if (extrafld1 !== "") {
                    document.getElementById("s_objFld1_desc").innerText = extrafld1;
                    document.getElementById("s_objFld1").placeholder = extrafld1;
                    document.getElementById("s_objFld1").value = extraval1;
                    document.getElementById("xfld1").style.display = "";
                } else {
                    document.getElementById("xfld1").style = "display:none";
                }

                document.getElementById("simpleeditmodal").style = "display:inline;";
            }

        </script>

        <form method="POST" action="/home/settings-sites/site" style="width:100%;padding:0px">
            {% csrf_token %}
            <div id="editmodal" class="md-modal__backdrop fade in" style="display:none; width: 100px;height: 50px;position:fixed; top: calc(50% - 25px);left: calc(50% - 50px);">
                <div role="dialog" id="react-aria-modal-dialog" class="md-modal md-modal--default in" aria-labelledby="modal1">
                    <div class="md-modal__content">
                        <span class="md-modal__flex-container">
                            <div class="md-modal__header">
                                <span id="editmodaltitle" class="md-modal__title">Site Configuration</span>
                                <input type="hidden" name="siteId" id="siteId">
                                <input type="hidden" name="objType" id="objType" value="site">
                                <span class="md-modal__message">
                                    <table class="testTableClass">
                                        <thead class="md-data-table__thead">
                                            <tr>
                                                <td>
                                                    <p style="text-align: left">Location Description</p>
                                                    <div class="md-input__wrapper">
                                                        <input style="font-size: small" class="md-input md-input--after md-dirty" type="text" id="siteDesc" name="siteDesc" placeholder="Site Description">
                                                        <span class="md-input__after">
                                                            <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" onclick="clearinput('siteDesc')">
                                                                <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="text-align: left">Location Address</p>
                                                    <div class="md-input__wrapper">
                                                        <input style="font-size: small" class="md-input md-input--after md-dirty" type="text" id="siteAddr" name="siteAddr" placeholder="Site Address">
                                                        <span class="md-input__after">
                                                            <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" onclick="clearinput('siteAddr')">
                                                                <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
{#                                                    <p style="text-align: left">Update Geolocation</p>#}
                                                    <div class="md-input__wrapper">
                                                        <div class="md-input-container md-checkbox">
                                                            <input id="basic-checkbox" type="checkbox" class="md-input md-checkbox__input">
                                                            <label class="md-checkbox__label" for="basic-checkbox">
                                                                <span>Update Geolocation</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

{#                                            <tr>#}
{#                                                <td>#}
{#                                                    <p style="text-align: left">Organization ID</p>#}
{#                                                    <div class="md-input__wrapper">#}
{#                                                        <input style="font-size: small" class="md-input md-input--after md-dirty" type="text" id="merOrg" name="merOrg" placeholder="Meraki Organization ID">#}
{#                                                        <span class="md-input__after">#}
{#                                                            <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" onclick="clearinput('merOrg')">#}
{#                                                                <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>#}
{#                                                            </button>#}
{#                                                        </span>#}
{#                                                    </div>#}
{#                                                </td>#}
{#                                            </tr>#}
                                        </thead>
                                    </table>
                                </span>

                                <button type="button" class="md-close md-modal__close" onclick="document.getElementById('editmodal').style = 'display:none;'"></button>
                            </div>
                            <div class="md-modal__body"></div>
                            <div class="md-modal__footer">
                                <button class="md-button md-button--36 md-button--default" alt="Close Modal" type="button" aria-label="Close Modal">
                                    <span class="md-button__children" onclick="document.getElementById('editmodal').style = 'display:none;'">Cancel</span>
                                </button>
                                <button type="submit" class="md-button md-button--36 md-button--blue" alt="Submit Form" type="button" aria-label="Submit Form">
                                    <span class="md-button__children">OK</span>
                                </button>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <form method="POST" action="/home/settings-sites/clli" style="width:100%;padding:0px">
            {% csrf_token %}
            <div id="cllimodal" class="md-modal__backdrop fade in" style="display:none; width: 100px;height: 50px;position:fixed; top: calc(50% - 25px);left: calc(50% - 50px);">
                <div role="dialog" id="react-aria-modal-dialog" class="md-modal md-modal--default in" aria-labelledby="modal1">
                    <div class="md-modal__content">
                        <span class="md-modal__flex-container">
                            <div class="md-modal__header">
                                <span class="md-modal__title">CLLI Configuration</span>
                                <input type="hidden" name="cityId" id="clli_cityId">
                                <input type="hidden" name="objType" id="objType" value="clli">
                                <span class="md-modal__message">
                                    <table class="testTableClass">
                                        <thead class="md-data-table__thead">
                                            <tr>
                                                <td>
                                                    <p style="text-align: left">Select Base CLLI Location</p>
                                                    <div class="md-input__wrapper" id="clli_container">
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                </span>

                                <button type="button" class="md-close md-modal__close" onclick="document.getElementById('cllimodal').style = 'display:none;'"></button>
                            </div>
                            <div class="md-modal__body"></div>
                            <div class="md-modal__footer">
                                <button class="md-button md-button--36 md-button--default" alt="Close Modal" type="button" aria-label="Close Modal">
                                    <span class="md-button__children" onclick="document.getElementById('cllimodal').style = 'display:none;'">Cancel</span>
                                </button>
                                <button type="submit" class="md-button md-button--36 md-button--blue" alt="Submit Form" type="button" aria-label="Submit Form">
                                    <span class="md-button__children">OK</span>
                                </button>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <form method="POST" action="/home/settings-sites/site-object" style="width:100%;padding:0px">
            {% csrf_token %}
            <div id="simpleeditmodal" class="md-modal__backdrop fade in" style="display:none; width: 100px;height: 50px;position:fixed; top: calc(50% - 25px);left: calc(50% - 50px);">
                <div role="dialog" id="react-aria-modal-dialog" class="md-modal md-modal--default in" aria-labelledby="modal1">
                    <div class="md-modal__content">
                        <span class="md-modal__flex-container">
                            <div class="md-modal__header">
                                <span id="simpleeditmodaltitle" class="md-modal__title">Site Configuration</span>
                                <input type="hidden" name="parentId" id="s_parentId">
                                <input type="hidden" name="objId" id="s_objId">
                                <input type="hidden" name="objType" id="s_objType">
                                <span class="md-modal__message">
                                    <table class="testTableClass">
                                        <thead class="md-data-table__thead">
                                            <tr>
                                                <td>
                                                    <p style="text-align: left">Name</p>
                                                    <div class="md-input__wrapper">
                                                        <input style="font-size: small" class="md-input md-input--after md-dirty" type="text" id="s_objDesc" name="objDesc" placeholder="Description">
                                                        <span class="md-input__after">
                                                            <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" onclick="clearinput('objDesc')">
                                                                <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="xfld1">
                                                <td>
                                                    <p id="s_objFld1_desc" style="text-align: left">Name</p>
                                                    <div class="md-input__wrapper">
                                                        <input style="font-size: small" class="md-input md-input--after md-dirty" type="text" id="s_objFld1" name="s_objFld1" placeholder="Description">
                                                        <span class="md-input__after">
                                                            <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" onclick="clearinput('s_objFld1')">
                                                                <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
{#                                            <tr id="xfld2">#}
{#                                                <td>#}
{#                                                    <p id="s_objFld2_desc" style="text-align: left">Name</p>#}
{#                                                    <div class="md-input__wrapper">#}
{#                                                        <input style="font-size: small" class="md-input md-input--after md-dirty" type="text" id="s_objFld2" name="s_objFld2" placeholder="Description">#}
{#                                                        <span class="md-input__after">#}
{#                                                            <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" onclick="clearinput('s_objFld2')">#}
{#                                                                <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>#}
{#                                                            </button>#}
{#                                                        </span>#}
{#                                                    </div>#}
{#                                                </td>#}
{#                                            </tr>#}
                                        </thead>
                                    </table>
                                </span>

                                <button type="button" class="md-close md-modal__close" onclick="document.getElementById('simpleeditmodal').style = 'display:none;'"></button>
                            </div>
                            <div class="md-modal__body"></div>
                            <div class="md-modal__footer">
                                <button class="md-button md-button--36 md-button--default" alt="Close Modal" type="button" aria-label="Close Modal">
                                    <span class="md-button__children" onclick="document.getElementById('simpleeditmodal').style = 'display:none;'">Cancel</span>
                                </button>
                                <button type="submit" class="md-button md-button--36 md-button--blue" alt="Submit Form" type="button" aria-label="Submit Form">
                                    <span class="md-button__children">OK</span>
                                </button>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </form>

    <!-- Set CLLI Code Modal -->
    <div class="modal fade" id="clliModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="clliModalLabel" aria-hidden="true">
        <form method="post" action="/home/settings-sites/">
            {% csrf_token %}
            <input type="hidden" id="clli_object_id" name="clli_object_id">
            <input type="hidden" id="action" name="action" value="setCLLI">
            <div class="modal-dialog" style="transform:none !important;width:600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="popupLabel">Set Location Code</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="overflow:auto">
                        <div class="mb-3" style="padding-top:11px;">
                            <label for="move_new_location">Location Code:</label>
                            <div id="clli_location_codes">
                            </div>
                        </div>
                        <div class="mb-3" style="padding-top:11px;">
                            <label for="description">Custom Location Code:</label>
                            <input type="text" class="form-control" id="custom_location_code" name="custom_location_code" placeholder="Enter Location Code" oninput="radiobtn = document.getElementById('custom'); radiobtn.checked = true;">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Edit Location Modal -->
    <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <form method="post" action="/home/settings-sites/">
            {% csrf_token %}
            <input type="hidden" id="edit_object_id" name="edit_object_id">
            <input type="hidden" id="action" name="action" value="editLocation">
            <div class="modal-dialog" style="transform:none !important;width:600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="popupLabel">Edit Location</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="overflow:auto">
                        <div class="mb-3" style="padding-top:11px;">
                            <label for="description">Location Description:</label>
                            <input type="text" class="form-control" id="location_description" name="location_description" placeholder="Enter Location Description">
                        </div>
                        <div class="mb-3" style="padding-top:11px;">
                            <label for="description">Location Address:</label>
                            <input type="text" class="form-control" id="location_address" name="location_address" placeholder="Enter Location Address">
                        </div>
                        <div class="mb-3" style="padding-top:11px;">
                            <input type="checkbox" id="update_geolocation" name="update_geolocation">&nbsp;<label for="scan">Update Geolocation</label>
                        </div>
                        <div id="location_code_div" class="mb-3" style="padding-top:11px;">
                            <label for="description">Location Code Suffix:</label>
                            <input type="text" class="form-control" id="location_code_addon" name="location_code_addon" placeholder="Enter Location Code Suffix">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Add Move Location Modal -->
    <div class="modal fade" id="moveModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="moveModalLabel" aria-hidden="true">
        <form method="post" action="/home/settings-sites/">
            {% csrf_token %}
            <input type="hidden" id="move_object_id" name="move_object_id">
            <input type="hidden" id="action" name="action" value="moveLocation">
            <div class="modal-dialog" style="transform:none !important;width:600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="popupLabel">Add Child Location</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="overflow:auto">
                        <div class="mb-3" style="padding-top:11px;">
                            <label id="move_object_description">Moving</label>
                        </div>
                        <div class="mb-3" style="padding-top:11px;">
                            <label for="move_new_location">Location Type:</label>
                            <select class="form-control" name="move_new_location" id="move_new_location">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Add Hierarchy Location Modal -->
    <div class="modal fade" id="hierarchyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="hierarchyModalLabel" aria-hidden="true">
        <form method="post" action="/home/settings-sites/">
            {% csrf_token %}
            <input type="hidden" id="parent_id" name="parent_id">
            <input type="hidden" id="action" name="action" value="addChild">
            <div class="modal-dialog" style="transform:none !important;width:600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="popupLabel">Move Location</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="overflow:auto">
                        <div class="mb-3" style="padding-top:11px;">
                            <label id="parent_description">Adding Child for </label>
                        </div>
                        <div class="mb-3" style="padding-top:11px;">
                            <label for="location_type">Location Type:</label>
                            <select class="form-control" name="location_type" id="location_type">
                            </select>
                        </div>
                        <div class="mb-3" style="padding-top:11px;">
                            <label for="description">Location Description:</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Enter Location Description">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        let dt_url = "/api/get-locations";
        $(document).ready( function () {
{#            {% if error %}#}
{#                loadModal('', '{{ ctx.description }}', '{{ ctx.subnet }}', '{{ ctx.scan }}');#}
{#            {% endif %}#}

            {#DataTable.types().forEach(type => {#}
            {#    DataTable.type(type, 'detect', () => false);#}
            {# });#}
            myTable = $('#myTable').DataTable({
                "paging": false,
                "ajax": {
                    url: dt_url,
                    method: "GET",
                },
                "initComplete": function( settings, json ) {
                 },
                "columns": [
                    { "data": "id", "visible": false },
                    { "data": "visible", "visible": false },
                    { "data": "sortorder", "visible": false },
                    { "data": "description", "orderable": false },
                    { "data": "address", "orderable": false },
                    { "data": "location_code", "orderable": false },
                    { "data": "actions", "orderable": false },
                ],
                columnDefs: [
                    { type: 'text', targets: 6 }
                ],
                "order": [[2, 'asc']]
            });

            $.fn.dataTable.ext.search.push(
                function( settings, searchData, index, rowData, counter ) {
                    if (settings.nTable.id !== 'myTable'){
                        return true;
                    }

                    let isvisible = searchData[1];
                    if (isvisible === "true") {
                        return true;
                    }

                    return false;
                }
            );
        });

        function loadHierarchyModal(parent_id, parent_desc, children_b64) {
            let desc = document.getElementById("parent_description");
            let id = document.getElementById("parent_id");
            let location_types = document.getElementById("location_type");

            desc.innerHTML = "Adding Child for '" + parent_desc + "'";
            id.value = parent_id;
            let children = JSON.parse(atob(children_b64));
            children.forEach((element) => {
                let opt = document.createElement('option');
                opt.value = element.id;
                opt.innerHTML = element.description;
                location_types.appendChild(opt);
            });

            $('#hierarchyModal').modal('show');
        }

        function loadMoveModal(object_type_description, object_id, object_description, parents_b64) {
            let desc = document.getElementById("move_object_description");
            let id = document.getElementById("move_object_id");
            let move_new_location = document.getElementById("move_new_location");

            desc.innerHTML = "Moving " + object_type_description + " '" + object_description + "'";
            id.value = object_id;
            let children = JSON.parse(atob(parents_b64));
            children.forEach((element) => {
                let opt = document.createElement('option');
                opt.value = element.id;
                if (element.type === "Root") {
                    opt.innerHTML = element.description;
                } else {
                    opt.innerHTML = element.type + ": " + element.description;
                }
                move_new_location.appendChild(opt);
            });

            $('#moveModal').modal('show');
        }

        function loadEditModal(location_type, edit_object_id, location_description, location_address, has_clli_addon, clli_addon_str) {
            let desc = document.getElementById("location_description");
            let addr = document.getElementById("location_address");
            let id = document.getElementById("edit_object_id");
            let upd = document.getElementById("update_geolocation");
            let location_code_addon = document.getElementById("location_code_addon");
            let location_code_div = document.getElementById("location_code_div");

            if (has_clli_addon === "True") {
                location_code_div.style.display = "inline";
                location_code_addon.value = clli_addon_str;
            } else {
                location_code_div.style.display = "none";
            }

            id.value = edit_object_id;
            desc.value = location_description;
            if (location_address === "None") {
                addr.value = "";
            } else {
                addr.value = location_address;
            }
            upd.checked = true;

            $('#editModal').modal('show');
        }

        function loadCLLIModal(object_id, clli_codes_b64, db_clli_id, custom_clli_code) {
            let clli_codes = document.getElementById("clli_location_codes");
            let id = document.getElementById("clli_object_id");
            let custom_location_code = document.getElementById("custom_location_code");
            clli_codes.innerHTML = "";

            id.value = object_id;
            let codes = JSON.parse(atob(clli_codes_b64));

            codes.forEach((element) => {
                let opt1 = document.createElement('input');
                opt1.type = "radio";
                opt1.name = "clli";
                opt1.id = element.clli.id;
                opt1.value = element.clli.id;
                clli_codes.appendChild(opt1);

                let opt2 = document.createElement('label');
                opt2.for = element.clli.id;
                opt2.innerHTML = "&nbsp;" + element.clli.clli + " (" + element.clli.city + ", " + element.clli.state + ")";
                clli_codes.appendChild(opt2);

                let opt3 = document.createElement('br');
                clli_codes.appendChild(opt3);
            });

            let opt1 = document.createElement('input');
            opt1.type = "radio";
            opt1.name = "clli";
            opt1.id = "custom";
            opt1.value = "custom";
            clli_codes.appendChild(opt1);

            let opt2 = document.createElement('label');
            opt2.for = "custom";
            opt2.innerHTML = "&nbsp;Custom:";
            clli_codes.appendChild(opt2);

            let opt3 = document.createElement('br');
            clli_codes.appendChild(opt3);

            if (db_clli_id === "") {
                let radiobtn = document.getElementById('custom');
                radiobtn.checked = true;

                custom_location_code.value = custom_clli_code;
            } else {
                let radiobtn = document.getElementById(db_clli_id);
                radiobtn.checked = true;
            }

            $('#clliModal').modal('show');
        }

        {#function loadModal(inp_id, inp_desc, inp_subnet, inp_scan) {#}
        {#    let desc = document.getElementById("description");#}
        {#    let subnet = document.getElementById("subnet");#}
        {#    let scan = document.getElementById("scan");#}
        {#    let subnet_id = document.getElementById("subnet_id");#}
        {#    desc.value = inp_desc;#}
        {#    subnet.value = inp_subnet;#}
        {#    subnet_id.value = inp_id;#}
        {#    if ((inp_scan === "True") || (subnet_id.value === "")) {#}
        {#        scan.checked = true;#}
        {#    } else {#}
        {#        scan.checked = false;#}
        {#    }#}
        {##}
        {#    $('#subnetModal').modal('show');#}
        {# }#}
    </script>
{% endblock %}