{% extends 'home/base.html' %}
{% load extras %}

{% block content %}
    <form class="md-panel__form" enctype="multipart/form-data" method="POST" action="/home/upload-package">
        {% csrf_token %}
        <tbody class="md-input-group">
            <tr class="md-input__icon-container">
{#                <div class="row" style="align-content:center; display:flex">#}
{#                    <div class="md-input-container columns medium-6">#}
{#                        <label class="md-label md-input__label" for="description">#}
{#                            <span style="float:left">{{ form.description.label }}</span>#}
{#                        </label>#}
{#                        <div class="md-input__wrapper">#}
{#                            <input class="md-input md-input--after md-dirty" tabindex="0" type="text" id="description" name="description" placeholder="{{ form.description.label }}" value="{{ data.0.base_desc }}">#}
{#                            <span class="md-input__after">#}
{#                                <button class="md-button md-button--36 md-button--icon md-input__icon-clear" id="md-button-50" data-md-event-key="md-button-50" alt="clear input" type="button" aria-label="clear input" aria-pressed="" tabindex="999999" onclick="clearinput('description')">#}
{#                                    <span class="md-button__children" style="opacity: 1;"><i class="md-icon icon icon-clear-active_16" style="font-size: 16px;"></i></span>#}
{#                                </button>#}
{#                            </span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <table class="testTableClass">
                    <tbody class="md-data-table__tbody">
                        {% if request.user.is_superuser %}
                            <tr>
                                <td style="width: 8rem;display: inline-block;vertical-align: top;">Tenant</td>
                                <td style="width: 16rem">
                                    <div class="md-input-container md-radio">
                                        <input name="tenant" id="tenant-{{ t.id }}" value="00000000-0000-0000-0000-000000000000" type="radio" class="md-input md-radio__input">
                                        <label class="md-radio__label" for="tenant-{{ t.id }}">
                                            <span>Global</span>
                                        </label>
                                    </div>

                                    {% for t in global.tenants %}
                                        <div class="md-input-container md-radio">
                                            {% if t.id|makestring == tenant_id|makestring %}
                                                <input name="tenant" id="tenant-{{ t.id }}" value="{{ t.id }}" type="radio" class="md-input md-radio__input" checked>
                                            {% else %}
                                                <input name="tenant" id="tenant-{{ t.id }}" value="{{ t.id }}" type="radio" class="md-input md-radio__input">
                                            {% endif %}
                                            <label class="md-radio__label" for="tenant-{{ t.id }}">
                                                <span>{{ t.name }}</span>
                                            </label>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td style="display: inline-block;vertical-align: top;">
{#                                <label class="md-label md-input__label" for="file">#}
{#                                    <span style="float:left">{{ form.file.label }}</span>#}
{#                                </label>#}
                                File
                            </td>
                            <td>
                                <div class="md-input__wrapper">
                                    {{ form.file }}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" style="align-content:center; display:flex">
                    <div class="md-input-container columns medium-6">
                        <div class="md-input__wrapper">
                            <button class="md-button md-button--blue">Upload</button>
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </form>
{% endblock %}
